<!-- ! Fourth Example -->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Web Elements</title>-->
<!--    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Flask Blog</h1>-->
<!--</header>-->
<!--<main>-->
<!--    Display area on web pages-->
<!--</main>-->
<!--</body>-->
<!--</html>-->

<!-- ! Fifth Example -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %} Web Elements {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<header>
    <h1>{%block h1 %}Flask Blog{%endblock%}</h1>
</header>
<main>
    {%block content %} Page content {%endblock%}
</main>
</body>
</html>